<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Tocbot</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico in the root directory -->
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/tocbot.css">

    <!-- <link rel="stylesheet" href="/test/mocha.css">
    <script src="/test/mocha.js"></script> -->
  </head>
  <body>
    <!-- APP_CONTENT_HERE -->

    <script src="/assets/js/tocbot.js"></script>
    <script>
      tocbot.init({
        headingSelector: 'h1, h2, h3, h4',
      });
    </script>

    <!-- <div id="mocha" style="z-index: 5; position: relative;"></div>
    <script src="/test/chai.js"></script>
    <script src="/test/test.js"></script>
    <script>
      mocha.run();
    </script> -->

    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='https://www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-42799308-2','auto');ga('send','pageview');
    </script>
  </body>
</html>
