// Third Party
@import 'optimizely-oui/src/core/core';
@import 'highlight.js/styles/github-gist'; // atelier-dune-light

// tocbot
@import 'tocbot-core';
@import 'tocbot-container';
@import 'tocbot-garnish';
@import 'tocbot-responsive';

body {
  font-size: 1.2rem;
}

.hero {
  background-color: #54BC4B;
  height: 300px;
  overflow: hidden;
  position: relative;
  text-align: center;
  z-index: 1;

  h1 {
    font-size: 4.2rem;
  }

  .hero-inner {
    padding: 60px 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 10px;
  margin-top: 25px;
  padding-top: 15px;
}

pre {
  display: block;
  margin-bottom: 10px;
  overflow: auto;
  white-space: pre-wrap;
}

code {
  @extend .code;
  display: inline-block;
  font-size: .8em;
  max-width: 100%;
}

.content {
  margin-bottom: 95vh;

  > h1:first-child {
    padding-top: 0;
    margin-top: 0;
  }

  ul,
  ol {
    list-style: inherit;
    margin-left: 20px;
  }
}
